USE [master]
GO
/****** Object:  Database [QuanLyKhachSan_K235480106022]    Script Date: 23/04/2026 8:22:18 PM ******/
CREATE DATABASE [QuanLyKhachSan_K235480106022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan_K235480106022', FILENAME = N'D:\Task_2\QuanLyKhachSan_K235480106022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_K235480106022_log', FILENAME = N'D:\Task_2\QuanLyKhachSan_K235480106022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan_K235480106022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan_K235480106022]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoHoatDongPhong]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Tu Van Hai
-- Create date: 23/04
-- Description:	Hoat động của phòng 
-- =============================================
CREATE FUNCTION [dbo].[fn_BaoCaoHoatDongPhong] (
    @Thang INT,
    @Nam INT
)
RETURNS @BangThongKe TABLE (
    MaPhong VARCHAR(10),
    LoaiPhong NVARCHAR(50),
    SoLanDuocDat INT,
    DanhGiaHieuQua NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @BangThongKe (MaPhong, LoaiPhong, SoLanDuocDat, DanhGiaHieuQua)
    SELECT p.MaPhong, p.LoaiPhong, COUNT(d.MaDatPhong), N'Chưa xét'
    FROM [Phong] p
    LEFT JOIN [DatPhong] d ON p.MaPhong = d.MaPhong 
         AND MONTH(d.ThoiGianNhan) = @Thang 
         AND YEAR(d.ThoiGianNhan) = @Nam
    GROUP BY p.MaPhong, p.LoaiPhong;
    UPDATE @BangThongKe 
    SET DanhGiaHieuQua = N'Phòng Hot' 
    WHERE SoLanDuocDat >= 3;

    UPDATE @BangThongKe 
    SET DanhGiaHieuQua = N'Bình thường' 
    WHERE SoLanDuocDat > 0 AND SoLanDuocDat < 3;

    UPDATE @BangThongKe 
    SET DanhGiaHieuQua = N'Ế - Cần khuyến mãi' 
    WHERE SoLanDuocDat = 0;
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienPhong]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongTienPhong] (
    @MaDatPhong INT
)
RETURNS MONEY
AS
BEGIN
    DECLARE @TienPhong MONEY;
    DECLARE @SoNgay INT;
    DECLARE @GiaNgay MONEY;
    DECLARE @NgayNhan DATETIME;
    DECLARE @NgayTra DATETIME;

    -- Lấy thông tin từ bảng DatPhong và Phong
    SELECT @NgayNhan = d.ThoiGianNhan, 
           @NgayTra = ISNULL(d.ThoiGianTra, GETDATE()), -- Nếu chưa trả, lấy ngày hiện tại
           @GiaNgay = p.GiaPhongTheoNgay
    FROM [DatPhong] d
    JOIN [Phong] p ON d.MaPhong = p.MaPhong
    WHERE d.MaDatPhong = @MaDatPhong;

    -- Tính số ngày (nếu cùng ngày thì tính 1 ngày)
    SET @SoNgay = DATEDIFF(DAY, @NgayNhan, @NgayTra);
    IF @SoNgay = 0 SET @SoNgay = 1;

    -- Tính tổng tiền
    SET @TienPhong = @SoNgay * @GiaNgay;

    RETURN @TienPhong;
END;
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](10) NOT NULL,
	[LoaiPhong] [nvarchar](50) NOT NULL,
	[DienTich] [float] NULL,
	[GiaPhongTheoNgay] [money] NOT NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[ThoiGianNhan] [datetime] NOT NULL,
	[ThoiGianTra] [datetime] NULL,
	[TienDatCoc] [money] NULL,
	[TienHoanLai] [money] NULL,
 CONSTRAINT [PK_DatPhong] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LichSuGiaoDichCuaKhach]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tu Van Hai
-- Create date: 23/4
-- Description:	Lich su giao dich
-- =============================================
CREATE FUNCTION [dbo].[fn_LichSuGiaoDichCuaKhach] (
    @MaKhachHang INT
)
RETURNS TABLE
AS
RETURN (
    SELECT 
        d.MaDatPhong,
        p.LoaiPhong,
        d.ThoiGianNhan,
        d.ThoiGianTra,
        d.TienDatCoc
    FROM [DatPhong] d
    JOIN [Phong] p ON d.MaPhong = p.MaPhong
    WHERE d.MaKhachHang = @MaKhachHang
);
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_1]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_1](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_10]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_10](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_11]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_11](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_12]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_12](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_2]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_2](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_3]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_3](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_4]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_4](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_5]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_5](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_6]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_6](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_7]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_7](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_8]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_8](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_9]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_9](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2026_4]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2026_4](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKhachHang] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiemDanhGia] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DiemTichLuy] [int] NULL,
	[TienVoucher] [money] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatPhong] ON 

INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan], [ThoiGianTra], [TienDatCoc], [TienHoanLai]) VALUES (1, 98, N'P104', CAST(N'2023-10-01T11:00:00.000' AS DateTime), CAST(N'2023-10-07T11:00:00.000' AS DateTime), 500000.0000, NULL)
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan], [ThoiGianTra], [TienDatCoc], [TienHoanLai]) VALUES (2, 63, N'P103', CAST(N'2023-08-30T11:00:00.000' AS DateTime), CAST(N'2023-09-04T11:00:00.000' AS DateTime), 500000.0000, NULL)
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan], [ThoiGianTra], [TienDatCoc], [TienHoanLai]) VALUES (3, 80, N'P103', CAST(N'2023-11-05T17:00:00.000' AS DateTime), CAST(N'2023-11-10T12:00:00.000' AS DateTime), 500000.0000, NULL)
GO
SET IDENTITY_INSERT [dbo].[DatPhong] OFF
GO
INSERT [dbo].[DatPhong_Archive_2023_1] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (11, 55, N'P301', CAST(N'2023-01-14T12:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_1] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (47, 87, N'P301', CAST(N'2023-01-03T16:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_1] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (48, 3, N'P401', CAST(N'2023-01-18T13:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_10] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (1, 98, N'P104', CAST(N'2023-10-01T11:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_10] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (14, 3, N'P104', CAST(N'2023-10-06T11:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_10] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (22, 36, N'P202', CAST(N'2023-10-20T17:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_11] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (3, 80, N'P103', CAST(N'2023-11-05T17:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_11] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (6, 35, N'P301', CAST(N'2023-11-18T16:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_11] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (26, 99, N'P102', CAST(N'2023-11-19T10:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_12] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (19, 89, N'P403', CAST(N'2023-12-07T11:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_12] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (34, 76, N'P202', CAST(N'2023-12-31T14:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_12] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (37, 39, N'P105', CAST(N'2023-12-11T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_2] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (4, 58, N'P404', CAST(N'2023-02-12T17:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_2] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (27, 85, N'P401', CAST(N'2023-02-28T15:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_2] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (29, 66, N'P101', CAST(N'2023-02-02T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_3] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (5, 66, N'P304', CAST(N'2023-03-28T16:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_3] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (9, 40, N'P403', CAST(N'2023-03-21T14:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_3] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (15, 3, N'P203', CAST(N'2023-03-04T18:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_4] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (7, 49, N'P402', CAST(N'2023-04-14T18:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_4] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (8, 7, N'P303', CAST(N'2023-04-15T10:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_4] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (10, 77, N'P305', CAST(N'2023-04-29T11:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_5] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (20, 60, N'P104', CAST(N'2023-05-28T16:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_5] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (53, 72, N'P301', CAST(N'2023-05-10T14:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_5] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (90, 83, N'P402', CAST(N'2023-05-29T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_6] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (12, 27, N'P202', CAST(N'2023-06-13T17:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_6] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (18, 74, N'P401', CAST(N'2023-06-06T17:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_6] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (30, 29, N'P203', CAST(N'2023-06-01T17:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_7] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (40, 4, N'P405', CAST(N'2023-07-18T14:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_7] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (42, 33, N'P105', CAST(N'2023-07-10T10:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_7] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (43, 90, N'P305', CAST(N'2023-07-17T17:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_8] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (2, 63, N'P103', CAST(N'2023-08-30T11:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_8] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (13, 40, N'P101', CAST(N'2023-08-03T11:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_8] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (17, 96, N'P102', CAST(N'2023-08-19T11:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2023_9] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (33, 70, N'P401', CAST(N'2023-09-10T14:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_9] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (60, 10, N'P404', CAST(N'2023-09-06T18:00:00.000' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2023_9] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (61, 80, N'P405', CAST(N'2023-09-02T13:00:00.000' AS DateTime))
GO
INSERT [dbo].[DatPhong_Archive_2026_4] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (101, 5, N'P201', CAST(N'2026-04-23T11:04:01.340' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2026_4] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (102, 1, N'P101', CAST(N'2026-04-23T14:38:37.560' AS DateTime))
INSERT [dbo].[DatPhong_Archive_2026_4] ([MaDatPhong], [MaKhachHang], [MaPhong], [ThoiGianNhan]) VALUES (103, 1, N'P101', CAST(N'2026-04-23T19:19:41.907' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [NgaySinh], [SoDienThoai], [DiemDanhGia], [TrangThai], [DiemTichLuy], [TienVoucher]) VALUES (1, N'Huỳnh Thanh Quỳnh', CAST(N'1967-06-29' AS Date), N'0364467868', 5, NULL, NULL, 0.0000)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [NgaySinh], [SoDienThoai], [DiemDanhGia], [TrangThai], [DiemTichLuy], [TienVoucher]) VALUES (2, N'Trần Xuân Tuấn', CAST(N'2004-11-27' AS Date), N'0342069560', 5, NULL, NULL, 0.0000)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [NgaySinh], [SoDienThoai], [DiemDanhGia], [TrangThai], [DiemTichLuy], [TienVoucher]) VALUES (3, N'Phạm Hải Hương', CAST(N'1974-05-10' AS Date), N'0399012944', 1, N'Blacklist (Cấm cửa)', NULL, 500000.0000)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Phong] ([MaPhong], [LoaiPhong], [DienTich], [GiaPhongTheoNgay]) VALUES (N'P101', N'Deluxe (Sang trọng)', 49.4, 1500000.0000)
INSERT [dbo].[Phong] ([MaPhong], [LoaiPhong], [DienTich], [GiaPhongTheoNgay]) VALUES (N'P102', N'Suite (Hạng sang)', 78, 3000000.0000)
INSERT [dbo].[Phong] ([MaPhong], [LoaiPhong], [DienTich], [GiaPhongTheoNgay]) VALUES (N'P103', N'Deluxe (Sang trọng)', 41.2, 1500000.0000)
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT ((0)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT ((0)) FOR [TienHoanLai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((5)) FOR [DiemDanhGia]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Bình thường') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TienVoucher]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_Phong]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_ThoiGianTra] CHECK  (([ThoiGianTra]>=[ThoiGianNhan]))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_ThoiGianTra]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_TienDatCoc] CHECK  (([TienDatCoc]>=(0)))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_TienDatCoc]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_DiemDanhGia] CHECK  (([DiemDanhGia]>=(1) AND [DiemDanhGia]<=(5)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_DiemDanhGia]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_GiaPhong] CHECK  (([GiaPhongTheoNgay]>(0)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_GiaPhong]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoKhachHangSongAo]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tu Van Hai
-- Create date: 23/04
-- Description:	Lọc khách sống ảo 
-- =============================================
CREATE PROCEDURE [dbo].[sp_BaoCaoKhachHangSongAo]
AS
BEGIN
    SELECT 
        kh.HoTenKhachHang AS [Họ Tên Khách],
        kh.SoDienThoai AS [Số Điện Thoại],
        p.LoaiPhong AS [Hạng Phòng Đặt],
        dp.ThoiGianNhan AS [Lúc Nhận],
        dp.ThoiGianTra AS [Lúc Trả],
        -- Tính số giờ đã ở
        DATEDIFF(HOUR, dp.ThoiGianNhan, dp.ThoiGianTra) AS [Tổng Số Giờ Ở]
    FROM [DatPhong] dp
    JOIN [KhachHang] kh ON dp.MaKhachHang = kh.MaKhachHang
    JOIN [Phong] p ON dp.MaPhong = p.MaPhong
    WHERE 
        -- Chỉ lọc phòng hạng sang
        (p.LoaiPhong LIKE N'%Suite%' OR p.LoaiPhong LIKE N'%Deluxe%')
        -- Chỉ tính những giao dịch đã trả phòng
        AND dp.ThoiGianTra IS NOT NULL
        -- Thời gian lưu trú từ lúc nhận đến lúc trả <= 24 tiếng (1 ngày)
        AND DATEDIFF(HOUR, dp.ThoiGianNhan, dp.ThoiGianTra) <= 24
    ORDER BY [Tổng Số Giờ Ở] ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DatPhongThanToc]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		Tu Van Hai
-- Create date: 23/04
-- Description:	Đặt phòng nhanh
CREATE PROCEDURE [dbo].[sp_DatPhongThanToc]
    @MaKhachHang INT,
    @LoaiPhong NVARCHAR(50)
AS
BEGIN
    DECLARE @MaPhongTrong VARCHAR(10);
    SELECT TOP 1 @MaPhongTrong = p.MaPhong
    FROM [Phong] p
    WHERE p.LoaiPhong = @LoaiPhong
      AND p.MaPhong NOT IN (
          SELECT MaPhong FROM [DatPhong] WHERE ThoiGianTra IS NULL
      );
    IF @MaPhongTrong IS NOT NULL
    BEGIN
        INSERT INTO [DatPhong] (MaKhachHang, MaPhong, ThoiGianNhan, ThoiGianTra, TienDatCoc)
        VALUES (@MaKhachHang, @MaPhongTrong, GETDATE(), NULL, 0);

        PRINT N'Thành công! Đã tự động xếp khách vào phòng: ' + @MaPhongTrong;
    END
    ELSE
    BEGIN
        PRINT N'Rất tiếc! Hiện tại đã hết phòng trống cho hạng phòng: ' + @LoaiPhong;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_QuayThuongGiamGia]    Script Date: 23/04/2026 8:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tu Van Hai
-- Create date: 23/04
-- Description:	Quay thuong 
-- =============================================
CREATE PROCEDURE [dbo].[sp_QuayThuongGiamGia]
    @MaKhachHang INT,
    @PhanTramGiamGia INT OUTPUT 
AS
BEGIN
    DECLARE @Diem INT;
    
    -- Lấy điểm đánh giá của khách
    SELECT @Diem = DiemDanhGia FROM [KhachHang] WHERE MaKhachHang = @MaKhachHang;

    -- Kiểm tra logic và random % giảm giá
    IF @Diem = 5
    BEGIN
        -- Random từ 20 đến 40
        SET @PhanTramGiamGia = ABS(CHECKSUM(NEWID())) % 21 + 20; 
    END
    ELSE IF @Diem = 4
    BEGIN
        -- Random từ 5 đến 15
        SET @PhanTramGiamGia = ABS(CHECKSUM(NEWID())) % 11 + 5;
    END
    ELSE
    BEGIN
        -- Dưới 4 sao không được giảm
        SET @PhanTramGiamGia = 0;
    END
END;
GO
USE [master]
GO


--Trigger:
-- Bước 1: Thêm cột TrangThai vào bảng KhachHang
ALTER TABLE [KhachHang] ADD [TrangThai] NVARCHAR(50) DEFAULT N'Bình thường';
GO

-- Bước 2: Viết Trigger
CREATE TRIGGER trg_KhachHang_Blacklist
ON [KhachHang]
AFTER UPDATE
AS
BEGIN
    -- Chỉ kích hoạt logic nếu cột DiemDanhGia bị thay đổi
    IF UPDATE(DiemDanhGia)
    BEGIN
        -- Lấy ra mã của những khách hàng vừa bị đánh giá 1 sao (từ bảng ảo inserted)
        DECLARE @MaKH_BiPhath INT;
        
        -- Dùng con trỏ (Cursor) hoặc cấu trúc UPDATE/DELETE SET-BASED
        -- Ở đây dùng SET-BASED cho tối ưu: Xóa tất cả các đặt phòng trong tương lai của những người bị 1 sao
        DELETE FROM [DatPhong]
        WHERE MaKhachHang IN (SELECT MaKhachHang FROM inserted WHERE DiemDanhGia = 1)
          AND ThoiGianNhan > GETDATE(); -- Chỉ hủy các phòng chưa ở (trong tương lai)
          
        -- Cập nhật trạng thái của chính khách hàng đó thành Blacklist
        -- Lưu ý: Lệnh UPDATE này kích hoạt trên chính bảng đang gắn Trigger, nhưng vì ta đang 
        -- ở AFTER UPDATE, nếu không cẩn thận có thể dính đệ quy (sẽ giải thích ở Yêu cầu 2).
        UPDATE [KhachHang]
        SET TrangThai = N'Blacklist (Cấm cửa)'
        WHERE MaKhachHang IN (SELECT MaKhachHang FROM inserted WHERE DiemDanhGia = 1);
        
        PRINT N'TRIGGER KÍCH HOẠT: Đã đưa khách hàng có điểm 1 sao vào Blacklist và tự động hủy các phòng họ đã đặt trước trong tương lai.';
    END
END;
GO

ALTER TABLE [KhachHang] ADD [DiemTichLuy] INT DEFAULT 0;
ALTER TABLE [DatPhong] ADD [TienHoanLai] MONEY DEFAULT 0;
-- Trigger 1 (Insert DatPhong -> Update KhachHang)
CREATE TRIGGER trg_DatPhong_ThemDiem
ON [DatPhong]
AFTER INSERT
AS
BEGIN
    PRINT N'[Trigger 1]: Đã thêm giao dịch Đặt Phòng, chuẩn bị cộng 10 điểm cho khách...';
    
    UPDATE [KhachHang]
    SET DiemTichLuy = DiemTichLuy + 10
    WHERE MaKhachHang IN (SELECT MaKhachHang FROM inserted);
END;
GO

-- Trigger 2 (Update KhachHang -> Update DatPhong)
CREATE TRIGGER trg_KhachHang_HoanTien
ON [KhachHang]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(DiemTichLuy)
    BEGIN
        PRINT N'[Trigger 2]: Phát hiện điểm tích lũy tăng, chuẩn bị hoàn 50k vào giao dịch mới nhất...';
        
        -- Cập nhật bảng DatPhong (hoàn 50k cho giao dịch mới nhất của khách vừa được tăng điểm)
        UPDATE [DatPhong]
        SET TienHoanLai = 50000
        WHERE MaDatPhong IN (
            SELECT TOP 1 d.MaDatPhong 
            FROM [DatPhong] d
            JOIN inserted i ON d.MaKhachHang = i.MaKhachHang
            ORDER BY d.MaDatPhong DESC
        );
    END
END;
GO
